* {
    box-sizing: border-box;
}



#header, #header-mobile {
    position: fixed;
    top: 0px;
    background-color: white;
    height: 54px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}
#header-mobile{
    display: none;
}

#mobile-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    padding: 0px 17px;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/** INICIO PRIMEIRA CAIXA HEADER**/
.logo {
    display: flex;
    width: 100%;
    align-items: center;
    max-width: 143px;
}

#icon-line {
    display: flex;
    align-items: center;
    gap: 2px;
}
#hidden-paper-icon{
    display: none;
}
.vertical-line {
    background-color: #DBDBDB;
    width: 1px;
    height: 22px;
    margin: 0px 10px;
}

/** FIM PRIMEIRA CAIXA HEADER**/

.horizontal-line {
    background-color: #DBDBDB;
    width: 100%;
    height: 1px;
    position: fixed;
    top: 0;
    z-index: 1;
}

/** INICIO SEGUNDA CAIXA HEADER**/
.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 240px;
    height: 28px;
    border: 1px solid #DBDBDB;
    background-color: #FAFAFA;
    color: #DBDBDB;

    border-radius: 3px;
}



/** FIM SEGUNDA CAIXA HEADER**/

#header-line {
    margin-top: 54px;

}

/** INICIO CONTEUDO PRINCIPAL COLUNA 1 **/

#main-content {
    width: 100%;
    margin: 0px auto;
    display: flex;
    gap: 28px;
    margin-top: 89px;
    max-width: 1250px;
}

#column-left {
   width: 100%;
    position: relative;
}

/** INICIO STORIES **/

#stories-container {
    border: 1px solid #DBDBDB;
    border-radius: 3px;

    display: flex;
    align-items: center;
    height: 118px;
    
    overflow: hidden;
    width: 100%
    
}

.storie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 78px;
    text-align: center;
    margin-left: 15px;
    gap: 5px;
}

.border-stories {
    
    position: relative;
   
    
}

.border-stories img:nth-child(1) {
    height: 66px;
    position: absolute;
    z-index: -1;
    bottom: -3px;
    right: -5px;   
}

.storie span {
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/** FIM STORIES **/
.post {

    margin-top: 20px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    padding-bottom: 13px;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding-right: 17px;
}

.photo-name-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 17px
}

.photo-name-container img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 5px;
}

.main-image {
    width: 100%;
}
.post-footer{
    margin: 0px 17px;
}
.footer-container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 12px 0px;

}

.footer-container1 img {
    height: 17px;
}

.footer-icons-container {
    display: flex;
    gap: 5px;
}

#right-arrow ion-icon {
    color: #FFFFFF;

    position: absolute;
    right: 8px;
    top: 46px;
}
.footer-container2{
    display: flex;
    align-items: center;
    gap: 5px;
}
#last-div{
    padding-bottom: 0px !important;
    display: flex;
    flex-direction: column;
}
.show-mobile{
    display: none;
}
/** FIM CONTEUDO PRINCIPAL COLUNA 1 **/


/** INICIO HEADER COLUNA 2 **/
#column-right {

    min-height: 500px;
}

#header-column-right {

    height: 118px;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;

}

#header-container-colum-right {

    display: flex;
    align-items: center;
    gap: 5px;

    height: 61px;
}


#container-sugestoes-text {

    display: flex;
    justify-content: space-between;
    
}




/** FIM HEADER COLUNA 2 **/


.container-sugestoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    height: 55px;
    margin-top: 7px;
}

.image-sugestoes-container {

    display: flex;
    align-items: center;
    width: 100%;
    height: 61px;
    justify-content: space-between;
}

.foto-name {

    display: flex;
    align-items: center;
    gap: 5px;
}


#termos-text {
    max-width: 300px;
}

#termos-text p {
    margin-top: 20px;
}

@media ( max-width: 935px) {
    #column-right{
        display: none;
    }
    #main-content {
        max-width: 612px;
    }
}

@media (max-width: 620px){
  
    #header,.hidden-mobile, #last-div{
        display: none;
    }
    #hidden-paper-icon,.show-mobile {
        display: block;
    }
    #header-mobile{
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
        }

}